{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Magazyn SiloAdmin</title>
        <meta name="description" content="Magazyn części samochodowych SiloAdmin">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
       
		<script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
		<script src="{% static 'scrypts/jquery-1.12.3.js' %}"></script>
		<script src="{% static 'scrypts/jquery-1.12.3.min.js' %}"></script>
		<script src="{% static 'scrypts/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
		
		 <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">{{ projectnameandversion }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
		 {% if user.is_authenticated %}
		 <font color = "red"> Zalogowany jako: {{user.username}}. </font>
		 <!-- <a href="{% url 'logout' %}">Wyloguj</a> -->
		 {% else %}
		 <!-- <a href="{% url 'login' %}">Zaloguj</a> -->
		 {% endif %}
		 
		 <form class="navbar-form navbar-right" role="form" method = "post" action = "{%url 'django.contrib.auth.views.login' %}" >
		 {% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Użytkownik" class="form-control" name = "username" id = "id_username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Hasło" class="form-control" name = "password" id = "id_password">
            </div>
			<input type = "hidden" name = "next" value = {{next}} />
            <button type="submit" class="btn btn-success" value = "sign-in" >Zaloguj</button>			
		</form>
		<form class="navbar-form navbar-right" role="form" method = "post" action = "{%url 'generatepdf' %}" >
			{% csrf_token %}
			<button type="submit" class="btn btn-success" value = "generatepdf" >PDF</button>	
		</form>
		
		{% if user.is_authenticated %}
		<form class="navbar-form navbar-right" role="form" method = "post" action = "{% url 'logout' %}" >		
			{% csrf_token %}
			<input type = "hidden" name = "next" value = {{next}} />
			<button type="submit" class="btn btn-danger" value = "sign-out">Wyloguj</button>	
         </form>
		 {% endif %}

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
		{% block content %}
		
		{% endblock content %}
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->


      <hr>

      <footer>
        <p>&copy; SiloAdmin 2016</p>
      </footer>
    </div>
    </body>
</html>
