{% extends "Product/layout.html" %}

{% block content %}


[{{ order.orderName }}] {{ order.startDate }} {{ order.stopDate }} {{ order.item }} 
</br>

Edycja ilości:</br>
</br>
<form action="{% url 'order_edit' order.id %}" method="post">
	{% csrf_token %}
	<table>
	
	<tr>
	<td><label for="name">Nazwa:</label></td>
	<td><input id="name" name="name" type="text" value="{{ order.orderName }}"></input></td>
	</tr>
	
	<tr>
	<td><label for="startDate">Data start:</label></td>
	<td><input id="startDate" name="startDate" type="text" value="{{ order.startDate }}"></input></td>
	</tr>
	<!--
	<tr>
	<td><label for="stopDate">Data stop:</label></td>
	<td><input id="stopDate" name="stopDate" type="text" value="{{ order.stopDate }}"></input></td>
	</tr>
	-->
	<tr>
	<td><label for="item">Przedmiot:</label></td>
	<td><input id="item" name="item" type="text" value="{{ order.item }}"></input></td>
	</tr>
	
	</table>
	<input class="btn btn-success" type="submit" value="Zapisz"></input>
</form>

{% endblock content %}

